<input type="hidden" value="<%= "Here is the specific User: #{@user.id}" %>" />
<%= render @user %>
<%= render 'users/bio' %>
<div id="post-list">
  <%= render @user.recent_posts %>
</div>
<div class="row-center"><%= link_to(user_posts_path(@user.id)) { 'See all posts' } %></div>
